<div class="theme-switcher">
  <label class="theme-switcher-container">
    <input
      class="theme-switcher-container-input"
      id="themeSwitch"
      type="checkbox"
    />
    <span class="theme-switcher-container-span"></span>
  </label>
</div>
