{% extends "layouts/master.j2" %}

{% block title %}{% endblock %}

{% block head %}
  <script src="/public/js/highlight.min.js"></script>
{% endblock %}

{% block content %}
  {% include "includes/headerLogo.j2" %}
  {% include "includes/navbar.j2" %}
  <div class="blog-container">
    {{markdown|safe}}
    <p class="tags">Tags: {% for tag in meta.Tags %} `{{ tag }}` {% endfor %}</p>
  </div>
  <script>
    hljs.highlightAll();
  </script>
{% endblock %}
