{% extends "layouts/master.j2" %}

{% block title %}{% endblock %}

{% block head %}{% endblock %}

{% block content %}
  {% include "includes/headerLogo.j2" %}
  {% include "includes/navbar.j2" %}
  <div class="main-container">
    <h1 class="main-header">{{category}}</h1>
    <div class="post-list">
      {% for category in categoryList %}
      <div class="post-container">
        <a class="post-anchor" href="/blog/{{category.FileName}}">
          <div class="post-info">
            <span class="post-info-title"> {{ category.Title }} </span>
            <span class="post-info-date"> {{ category.Date }} </span>
          </div>
        </a>
        <div class="post-tags">
          {% for tag in category.Tags %}
          <a class="post-tags-anchor" href="/category/{{tag}}">
            <span class="post-tags-span">{{ tag }}</span>
          </a>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}