{% extends "layouts/master.j2" %}

{% block title %}{% endblock %}

{% block head %}{% endblock %}

{% block content %}
  {% include "includes/headerLogo.j2" %}
  {% include "includes/navbar.j2" %}
  <div class="main-container">
    <div class="post-list">
      {% for series in seriesList %}
      <div class="post-container">
        <a class="post-anchor-alt" href="/series/{{series}}">
          <div class="post-info">
            <span class="post-info-title"> {{ series }} </span>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}